{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}发布通知{% endblock %}

{% block content %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh_cn') }}
{% endblock %}

<div class="container">
    <div class="page-header">
        <h2>发布通知</h2>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes></ul>
            {% for category, message in messages %}
              <li class="{{ category }}" style="color:#337AB7">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div>
        {% if current_user.role %}
        {{ wtf.quick_form(form) }}
        {% endif %}
        <a class="btn btn-default" href="{{ url_for('main.index') }}" style="margin:10px 10px 20px 0px;">
        返回主页</a>
    </div>
    <div class="page-header">
        <h2>往期通知</h2>
    </div>
    <ul class="notices">
        {% for notice in notices %}
        <li class="notice">
            <div class="profile-thumbnail"></div>
            <div class="notice-date"><h3>{{ current_user.name }}  发布时间:{{ moment(notice.timestamp).fromNow()  }}</h3></div>
            <div class="notice-body" style="font-size:16px;">{{ notice.body }}</div>
            <a class="btn btn-warning btn-sm" href="{{ url_for('teacher.deleteNotice',id=notice.id) }}">
        删除本条</a>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
