{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}发布通知{% endblock %}

{% block content %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh_cn') }}
{% endblock %}

<div class="container">
    <div class="page-header">
        <h2>查看通知</h2>
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <a class="btn btn-default" href="{{ url_for('main.index') }}" style="margin:10px 10px 20px 0px;">
        返回主页</a>
    <ul class="notices">
        {% for notice in notices %}
        <li class="notice">
            <div class="profile-thumbnail"></div>
            <div class="notice-date"><h3>{{ teacher_name }}  发布时间:{{ moment(notice.timestamp).fromNow()  }}</h3></div>
            <div class="notice-body" style="font-size:16px;">{{ notice.body }}</div>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
